@tailwind base;
@tailwind components;
@tailwind utilities;

.head{
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 8)),url("./assets/girl.jpg");
    background-size: cover;
    /* background-attachment: fixed; */
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 50vh;
    width: 100%;
}